.game-board__game-control {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;

  &__play-pause {
    padding-bottom: 0.6rem;
  }
}
