.game-board {
  height: 424px;
  width: 360px;
  position: relative;
  border: 1px solid #4b5267;
  border-radius: 0.3rem;
  box-shadow: 7px 7px 17px -10px rgba(0, 0, 0, 0.76);
}

.game-container {
  height: 85%;
}
