@import './assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  // font-family: sans-serif;
  font-family: 'Yellowtail', cursive;
  background-color: $msw-background-color;
  color: $msw-main-color;
  text-align: center;
}
