.overlay {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  color: white;
  background-color: grey;
  height: 101%;
  width: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
}
